.form, .form_group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form_group {
    margin: 1%;
    width: 100%;
}

.form_group label {
    margin-left: 12.5%;
    align-self: flex-start;
    color: var(--red1);
}

.input {
    margin: 1%;
    padding: 1%;
    border: none;
    width: 75%;
    background-color: lightgrey;
    outline: none;
}

.input:focus {
    background-color: whitesmoke;
    box-shadow: 0px 5px 10px var(--red1);
    transition: 0.3s;
    color: var(--red2);
}