.main_head {
    display: flex;
    padding: .5%;
    justify-content: space-between;
    align-items: center;
}

.logo_container {
    display: flex;
    align-items: center;
    width: 60%;
    margin-left: 1%;
}

.session_nav {
    width: 15%;
}

.nav_item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2.5%;
}

.nav_item a {
    color: rgb(213, 212, 212);
}

.nav_item a:hover {
    cursor: pointer;
    color: whitesmoke;
}

.active {
    background-color: var(--red1);
}

.session_nav a {
    margin-right: 4%;
    font-size: larger;
    color: rgb(213, 212, 212);
}

.session_nav a:hover {
    color: whitesmoke;
}

.logo {
    color: whitesmoke;
}

.username {
    display: block;
    font-size: larger;
}

#logout {
    background: none;
    color: rgb(213, 212, 212);
    border: none;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Play', sans-serif;
    font-size: larger;
}

#logout:hover {
    color: whitesmoke;
    cursor: pointer;
}