.main_head {
    display: flex;
    padding: .5%;
    justify-content: space-between;
    align-items: center;
    background-image: url("/images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.logo_container {
    display: flex;
    align-items: center;
    width: 60%;
    margin-left: 1%;
}


.nav_item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2.5%;
}

.nav_item a {
    color: rgb(213, 212, 212);
}

.nav_item a:hover {
    cursor: pointer;
    color: whitesmoke;
}

.active {
    background-color: var(--red1);
}

.session_nav {
    width: 15%;
}

.session_nav a {
    margin-right: 4%;
    font-size: larger;
    color: rgb(213, 212, 212);
}

.session_nav a:hover {
    color: whitesmoke;
}

.logo {
    color: whitesmoke;
}

.btn {
    background-color: var(--red1);
    padding: 3%;
    color: rgb(213, 212, 212);
    border-color: rgb(213, 212, 212);
    border-style: groove;
    font-size: larger;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn:hover {
    background-color: var(--red2);
    color: whitesmoke;
    border-color: whitesmoke;
    cursor: pointer;
}

.icon {
    color: whitesmoke;
}

.profile_ctrl {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

