.session_nav {
    width: 15%;
}

.active {
    background-color: var(--red1);
}

.session_nav a {
    margin-right: 4%;
    font-size: larger;
    color: rgb(213, 212, 212);
}

.session_nav a:hover {
    color: whitesmoke;
}

.logo {
    color: whitesmoke;
    padding: .5%;
}

.username {
    display: block;
    font-size: larger;
}

#logout {
    background: none;
    color: rgb(213, 212, 212);
    border: none;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Play', sans-serif;
    font-size: larger;
}

#logout:hover {
    color: whitesmoke;
    cursor: pointer;
}