.title {
    margin-bottom: 2%;
    border-bottom: 1px solid whitesmoke;
    font-size: larger;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.definition, .use_case {
    margin: 2%;
}

.show {
    font-size: x-large;
}