.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav a, .session-nav a {
    color: rgb(213, 212, 212);
    text-decoration: none;
}

.nav a:hover, .session-nav a:hover {
    color: white;
}

.session_nav {
    width: 15%;
}

.active {
    background-color: var(--red1);
}

.session_nav a {
    margin-right: 4%;
    font-size: larger;
}

.nav_item {
    padding: 1%;
}

.logo {
    color: whitesmoke;
    padding: .5%;
}

.username {
    display: block;
    font-size: larger;
}

#logout {
    background: none;
    color: rgb(213, 212, 212);
    border: none;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Play', sans-serif;
    font-size: larger;
}

#logout:hover {
    color: whitesmoke;
    cursor: pointer;
}