/* ROOT VARIABLES */
:root {
    --red1: #800909;
    --red2: #661111;
}

/* IMPORTS */
@import url('https://css.gg/eye-alt.css');

/* PAGE LAYOUT */
* {
    margin: 0
}

body {
    background-color: rgb(242, 238, 213);
    font-family: 'Permanent Marker', cursive;
    font-family: 'Play', sans-serif;
}

.wrapper {
    padding: 2%;
}

.flex {
    display: flex;
}

.space-bet {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.center-just {
    justify-content: center;
}

.center-align {
    align-items: center;
}

.container {
    padding: 2%;
    color: whitesmoke;
}


/* PAGE CONTENT */
section {
    box-shadow: 5px 5px 10px black;
    margin: 1%;
}


/* NAV */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a, .session-nav a, aside a {
    color: rgb(213, 212, 212);
    text-decoration: none;
}

nav a:hover, .session-nav a:hover, aside a:hover {
    color: white;
}

.session-nav {
    width: 15%;
}

.session-nav a {
    margin-right: 4%;
    font-size: larger;
}

.nav-item {
    padding: 1%;
}


.logo {
    color: whitesmoke;
}

.username {
    display: block;
    font-size: larger;
}

#logout {
    background: none;
    color: rgb(213, 212, 212);
    border: none;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Play', sans-serif;
    font-size: larger;
}

#logout:hover {
    color: whitesmoke;
    cursor: pointer;
}


/*  BACKGROUNDS */
.bg-red1 {
    background-color: var(--red1);
}

.bg-red2 {
    background-color: var(--red2);
}

.bg-gradient {
    background-image: linear-gradient(var(--red1), var(--red2), var(--red1));
}

.bg-white {
    background-color: whitesmoke;
    color: var(--red1);
}

/* HOME PAGE */
.definition, .use-case {
    margin: 2%;
}

.title {
    margin-bottom: 2%;
    border-bottom: 1px solid whitesmoke;
    font-size: larger;
}

/* FORMS */

#register, #add-term {
    text-align: center;
}

#username, #password, .submit {
    margin-top: 1%;
}

input, textarea {
    outline: none;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Play', sans-serif;
}

textarea {
    width: 25%;
}

input[type=checkbox]:focus {
    box-shadow: none;
}

label {
    margin-right: 1%;
}

.submit {
    color: var(--red2);
    background-color: whitesmoke;
    border: none;
    transition: 0.5s;
}

.submit:hover {
    color: whitesmoke;
    background-image: radial-gradient(var(--red2), var(--red1)) ;
    cursor: pointer;
}

aside {
    text-align: center;
    margin-top: 1%;
}

#pro-guide {
    text-decoration: none;
    color: whitesmoke;
}

#pro-guide:hover {
    text-decoration: underline;
}

/* LIST PAGE */

.list {
    text-decoration: none;
    color: var(--red1);
    display: block;
}

.list:hover {
    text-decoration: underline;
}

.term-wrapper {
    margin-top: 1%;
}

.list-title {
    border-bottom: 1px solid var(--red2);
    font-size: larger;
    color: var(--red2);
}