.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav a, .session-nav a {
    color: rgb(213, 212, 212);
    text-decoration: none;
}

.nav a:hover, .session-nav a:hover {
    color: white;
}

.nav_item {
    padding: 1%;
}