.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav a {
    color: rgb(213, 212, 212);
    text-decoration: none;
}

.nav a:hover {
    color: white;
}

.nav_item {
    padding: 1%;
}

.active {
    padding: 1%;
    background-color: var(--red1);
}