.container_red {
    background-image: linear-gradient(90deg, var(--red1), var(--red2));
    padding: 2%;
    border-radius: 5px;
    width: 50%;
}

.control {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

.active, .inactive {
    border-radius: 5px;
    padding: 1%;
}

.active {
    color: whitesmoke;
    background-color: var(--red1);
}

.inactive {
    color: var(--red1);
    background-color: whitesmoke;
}

.inactive:hover {
    cursor: pointer;
    text-decoration: underline;
}

.active, .inactive {
    margin: 0 5%;
}

.form, .form_group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form_group {
    margin: 1%;
    width: 100%;
}

.form_group label {
    margin-left: 12.5%;
    align-self: flex-start;
    color: var(--red1);
}

.input {
    margin: 1%;
    padding: 1%;
    border: none;
    width: 75%;
    background-color: lightgrey;
}

.input:focus {
    background-color: whitesmoke;
    box-shadow: 0px 5px 10px var(--red1);
    transition: 0.3s;
    color: var(--red2);
}

.btn_container {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    width: 100%;
}