.active {
    border-bottom: 1px solid white;
}

.inactive:hover {
    cursor: pointer;
    text-decoration: underline;
}

.active, .inactive {
    margin-right: 10%;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
}