.container_red {
    background-image: linear-gradient(90deg, var(--red1), var(--red2));
    padding: 2%;
    border-radius: 5px;
    width: 50%;
}

.control {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

.active, .inactive {
    border-radius: 5px;
    padding: 1%;
}

.active {
    color: whitesmoke;
    background-color: var(--red1);
}

.inactive {
    color: var(--red1);
    background-color: whitesmoke;
}

.inactive:hover {
    cursor: pointer;
    text-decoration: underline;
}

.active, .inactive {
    margin: 0 5%;
}

.form, .form_group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    flex-direction: column;
}

.form_group {
    margin: 1%;
}

.form_group label {
    margin-right: .5%;
}

.input {
    margin: 1%;
    /* padding: 2%; */
}

