.active {
    border-bottom: 1px solid white;
}

.inactive:hover {
    cursor: pointer;
    text-decoration: underline;
}

.active, .inactive {
    margin: 1% 5%;
}

.form, .form_group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    flex-direction: column;
}

.form_group {
    margin: 1%;
}

.form_group label {
    margin-right: .5%;
}

.input {
    margin: 1%;
    /* padding: 2%; */
}