:root {
  --red1: #800909;
  --red2: #661111;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: lightgrey;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Play', sans-serif;
}

button, input {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Play', sans-serif;
  border-radius: 5px;
}

input { 
  outline: none;
  border-style: groove;
  border-width: thin;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

section {
  box-shadow: 5px 5px 10px black;
  margin: 1%;
}

.wrapper {
  display: flex;
  justify-content: center;
  padding: 0 15%;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.space-bet {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.center-just {
  justify-content: center;
}

.center-align {
  align-items: center;
}

.container {
  padding: 2%;
  width: 100%;
  color: whitesmoke;
  border-radius: 5px;
}

.bg-red1 {
  background-image: linear-gradient(90deg, var(--red1), var(--red2));
}

.bg-red2 {
  background-color: var(--red2);
}

.bg-gradient {
  background-image: linear-gradient(var(--red1), var(--red2), var(--red1));
}

.bg-white {
  background-color: whitesmoke;
  color: var(--red1);
}