.btn {
    color: var(--red2);
    background-color: whitesmoke;
    border: none;
    transition: 0.5s;
}

.btn:hover {
    color: whitesmoke;
    background-image: radial-gradient(var(--red2), var(--red1)) ;
    cursor: pointer;
}