.btn {
    color: whitesmoke;
    background-color: var(--red1);
    border: none;
    transition: 0.5s;
    padding: 0.5%;
}

.btn:hover {
    color: whitesmoke;
    background-image: radial-gradient(var(--red2), var(--red1)) ;
    cursor: pointer;
}